{% extends 'base.html' %}

{% block content %}
<h1>{{ user.username }}</h1>
<img src="{{ user.profile_picture.url }}" alt="Profile Picture">
<p>{{ user.bio }}</p>

<h2>Followers</h2>
<ul>
    {% for follower in user.followers.all %}
    <li>{{ follower.follower.username }}</li>
    {% endfor %}
</ul>

<h2>Following</h2>
<ul>
    {% for following in user.following.all %}
    <li>{{ following.following.username }}</li>
    {% endfor %}
</ul>

{% if user != request.user %}
<form method="post" action="{% url 'follow-user' user.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Follow</button>
</form>
<form method="post" action="{% url 'unfollow-user' user.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">Unfollow</button>
</form>
{% endif %}
{% endblock %}
