<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %}My Social Media API{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="/admin/">Admin</a></li>
                <li><a href="/api/accounts/">Accounts API</a></li>
                <li><a href="/api/notifications/">Notifications API</a></li>
                <li><a href="/api/posts/">Posts API</a></li>
                <li><a href="/accounts/">Accounts</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% extends 'base.html' %}



{% block content %}
<h2>Sign Up</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{% endblock %}

        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Ogembo Godfrey</p>
    </footer>
</body>
</html>
